{% extends 'pages/base.jinja' %}


{% block title %}

    Force Electric, To Do 

{% endblock %}


{% block content %}

    <h1>Force Electric, To Do:</h1>

    <article>

        <ul>
            {% for task in tasks if task.completed == 0%}

                <li>
                <article class="card">
                <div>
                    <p>{{task.urgency}} - {{ task.name }}</p>
                </div>
                <div>
                <a href="/complete/{{ task.id }}" class="button">Complete</a>
                <a href="/item/{{ task.id }}" class="button">View</a>
                </div>
                </article>
                </li>
                

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>
        
        
        </article>
<article>
        <h3>Add a New task</h3>
<form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of Task"
                required
            >

            <input
                type="number"
                name="urgency"
                min="1"
                max="5"
                placeholder="Urgency (1-5)"
                required
            >
            <input
                type="text"
                name="description"
                placeholder="Description of Task"
                required
                >
            <input
                type="date"
                name="due_date"
                placeholder="Due Date"
                required
                >
            <input
                type="text"
                name="client"
                placeholder="Client"
                required
                >
            <input
                type="text"
                name="location"
                placeholder="Location"
                required
                >

            <button>Add Task!</button>

        </form></article>
        <h3>Completed tasks</h3>
        <article>

        <ul>
            {% for task in tasks if task.completed == 1 %}

            <li>
            <article class="compcard">
            <div>
                <p>{{task.urgency}} - {{ task.name }}</p>
            </div>
            <div>
            <a href="/uncomplete/{{ task.id }}" class="button">Uncomplete</a>
            <a href="/item/{{ task.id }}" class="button">View</a>
            </div>
            </article>
            </li>
            
            {% else %}


                <p>None!</p>

            {% endfor %}
        </ul>
        
        
        </article>

{% endblock %}

